<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snc.secretkeymanagement.mapper.SecMaskruleMapper">
  <resultMap id="BaseResultMap" type="com.snc.secretkeymanagement.entity.SecMaskrule">
    <id column="maskrule_id" jdbcType="BIGINT" property="maskruleId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="descript" jdbcType="VARCHAR" property="descript" />
    <result column="data_type" jdbcType="INTEGER" property="dataType" />
    <result column="mask_type" jdbcType="VARCHAR" property="maskType" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_datetime" jdbcType="TIMESTAMP" property="createDatetime" />
    <result column="last_modified_user" jdbcType="VARCHAR" property="lastModifiedUser" />
    <result column="last_modified_time" jdbcType="TIMESTAMP" property="lastModifiedTime" />
    <result column="create_type" jdbcType="VARCHAR" property="createType" />
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="mode" jdbcType="INTEGER" property="mode" />
    <result column="start_point" jdbcType="INTEGER" property="startPoint" />
  </resultMap>
  <sql id="Base_Column_List">
    maskrule_id, name, descript, data_type, mask_type, create_user, create_datetime, 
    last_modified_user, last_modified_time, create_type, id, mode, start_point
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sec_maskrule
    where maskrule_id = #{maskruleId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sec_maskrule
    where maskrule_id = #{maskruleId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.snc.secretkeymanagement.entity.SecMaskrule">
    insert into sec_maskrule (maskrule_id, name, descript, 
      data_type, mask_type, create_user, 
      create_datetime, last_modified_user, last_modified_time, 
      create_type, id, mode, 
      start_point)
    values (#{maskruleId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{descript,jdbcType=VARCHAR}, 
      #{dataType,jdbcType=INTEGER}, #{maskType,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, 
      #{createDatetime,jdbcType=TIMESTAMP}, #{lastModifiedUser,jdbcType=VARCHAR}, #{lastModifiedTime,jdbcType=TIMESTAMP}, 
      #{createType,jdbcType=VARCHAR}, #{id,jdbcType=BIGINT}, #{mode,jdbcType=INTEGER}, 
      #{startPoint,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.snc.secretkeymanagement.entity.SecMaskrule">
    insert into sec_maskrule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="maskruleId != null">
        maskrule_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="descript != null">
        descript,
      </if>
      <if test="dataType != null">
        data_type,
      </if>
      <if test="maskType != null">
        mask_type,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createDatetime != null">
        create_datetime,
      </if>
      <if test="lastModifiedUser != null">
        last_modified_user,
      </if>
      <if test="lastModifiedTime != null">
        last_modified_time,
      </if>
      <if test="createType != null">
        create_type,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="mode != null">
        mode,
      </if>
      <if test="startPoint != null">
        start_point,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="maskruleId != null">
        #{maskruleId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="descript != null">
        #{descript,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=INTEGER},
      </if>
      <if test="maskType != null">
        #{maskType,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null">
        #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedUser != null">
        #{lastModifiedUser,jdbcType=VARCHAR},
      </if>
      <if test="lastModifiedTime != null">
        #{lastModifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createType != null">
        #{createType,jdbcType=VARCHAR},
      </if>
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="mode != null">
        #{mode,jdbcType=INTEGER},
      </if>
      <if test="startPoint != null">
        #{startPoint,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.snc.secretkeymanagement.entity.SecMaskrule">
    update sec_maskrule
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="descript != null">
        descript = #{descript,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        data_type = #{dataType,jdbcType=INTEGER},
      </if>
      <if test="maskType != null">
        mask_type = #{maskType,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null">
        create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedUser != null">
        last_modified_user = #{lastModifiedUser,jdbcType=VARCHAR},
      </if>
      <if test="lastModifiedTime != null">
        last_modified_time = #{lastModifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createType != null">
        create_type = #{createType,jdbcType=VARCHAR},
      </if>
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="mode != null">
        mode = #{mode,jdbcType=INTEGER},
      </if>
      <if test="startPoint != null">
        start_point = #{startPoint,jdbcType=INTEGER},
      </if>
    </set>
    where maskrule_id = #{maskruleId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.snc.secretkeymanagement.entity.SecMaskrule">
    update sec_maskrule
    set name = #{name,jdbcType=VARCHAR},
      descript = #{descript,jdbcType=VARCHAR},
      data_type = #{dataType,jdbcType=INTEGER},
      mask_type = #{maskType,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      last_modified_user = #{lastModifiedUser,jdbcType=VARCHAR},
      last_modified_time = #{lastModifiedTime,jdbcType=TIMESTAMP},
      create_type = #{createType,jdbcType=VARCHAR},
      id = #{id,jdbcType=BIGINT},
      mode = #{mode,jdbcType=INTEGER},
      start_point = #{startPoint,jdbcType=INTEGER}
    where maskrule_id = #{maskruleId,jdbcType=BIGINT}
  </update>
</mapper>